<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <title>Artists Recommender</title>
</head>
<body>
    <div class="container">
        <h1>Welcome to Artists Recommender</h1>

        <form action="/" method="POST">
            <label for="artist_name">
                あなたの好きなアーティストと関連度(*)の高いアーティストを10人推薦します。<br>
                アーティスト名を<strong>ローマ字</strong>で入力して下さい。<br><br>
                (例)　いきものがかり => Ikimonogakari <br><br>
            </label>

            <div class="input-wrapper">
                <input type="text" id="artist_name" name="artist_name">
            </div>
            <div class="button-wrapper">
                <input type="submit" value="OK" class="button1">
            </div>
            <br>
            <div class="under-note">
                *「関連度」は、Spotifyコミュニティの視聴履歴の分析に基づいています。
            </div>
        </form>
        <footer>
            © 2024 Kaito Sunada
        </footer>
    </div>
</body>
</html>
